{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Categoria Incoming</h5>
                  <a href="/mantenedor_categoria_incoming"  style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Estado</h5>
                  <a href="/mantenedor_estado" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Ubicación</h5>
                  <a href="/mantenedor_ubicacion" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Uom</h5>
                  <a href="/mantenedor_uom" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Owner</h5>
                  <a href="/mantenedor_owner" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Ficha</h5>
                  <a href="/mantenedor_ficha" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Condición</h5>
                  <a href="/mantenedor_condition" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Origen</h5>
                  <a href="/mantenedor_origen" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Bodega</h5>
                  <a href="/mantenedor_bodega" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Cargo</h5>
                  <a href="/mantenedor_cargo" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Clasificación</h5>
                  <a href="/mantenedor_clasificacion" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Condición</h5>
                  <a href="/mantenedor_condition" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Estado Repuesto</h5>
                  <a href="/mantenedor_estado_repuesto" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Compañia</h5>
                  <a href="/mantenedor_compañia" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Consumidor</h5>
                  <a href="/mantenedor_consumidor" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3" style="padding: 3px;">
            <div class="card text-center" style="height: 128px; width: 288px;">
                <div class="card-body">
                  <h5 class="card-title">Mantenedor Licencia</h5>
                  <a href="/mantenedor_licencia" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn">Ir al Mantenedor</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}