{% block content %}
<table id="tabla-inicio" class="display">
    <thead>
        <tr>
          <th>Serial Number</th>
          <th>Batch Number</th>
          <th>Part Number</th>
          <th>Descripción</th>
          <th>STDF</th>
          <th>Qty</th>
          <th>Qty Extraida</th>
          <th>Saldo</th>
          <th>AWB</th>
          <th>Ubicacion</th>
          <th>Fecha Vencimiento</th>
          <th>Accion</th>
        </tr>
      </thead>
    <tbody></tbody>
</table>

<br>

<!-- <h4>STDF´s QUE NO SE LE HAN REALIZADO INCOMING INSPECTION</h4>
<div class="btn buttons">
</div>
<table id="tabla-inicio-no-incomings" class="display">
  <thead>
      <tr>
        <th>STDF</th>
        <th>AWB</th>
        <th>HAWB</th>
        <th>Prioridad</th>
      </tr>
    </thead>
  <tbody></tbody>
</table> -->

{% endblock %}