{% load static %}
<nav class="navbar navbar-dark" style="background-color: #0d2a44;">
  <div class="container">
    <a class="navbar-brand" href="/dashboard">
      <img src="{% static 'img/iconostgo.webp' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" style="border-radius: 20px;">
      Stgo Technik Gruppe
    </a>
    <a class="navbar-brand" href="/dashboard">Inicio</a>
    <a class="navbar-brand" href="/comat">Comat</a>
    <a class="navbar-brand" href="/incoming">Incoming</a>
    <a class="navbar-brand" href="/consumos">Consumos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" style="background-color: #0d2a44;" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="color: #f1f8fe;">Menu Desplegable</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <a class="navbar-brand" href="/">
            <img src="{% static 'img/iconostgo.webp' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" style="border-radius: 20px;">
            Perfil Activo: {{user}}
          </a>
          {% if user.is_authenticated %}
            <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
          {% else %}
          <!-- <p>Debes Iniciar Sesión</p> -->
            <a href="{% url 'login' %}">Iniciar Sesión</a>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comat">Comat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/incoming">Incoming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/consumos">Consumos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orden_consumo">Ordenes de Consumo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mantenedores">Mantenedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Administración</a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</nav>