{% extends "base.html" %}

{% block body %}


<div class="container m-2">
    <h5>Generar Orden de Consumo</h5>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row p-2">
            <div class="col-md-6 p-2"> <!-- Columna para el formulario -->
                {{ form.as_p }}
            </div>
            <div class="col-md-6 p-2"> <!-- Columna adicional al lado -->
                <div class="col-4">
                    <h5>Estado STDF</h5>
                    <a name="" id="" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn" href="/estadostdf" role="button">ABONA/CANCELA</a>
                </div>
                <div class="col-4">
                    <h5>Inventario Comat</h5>
                    <a name="" id="" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn" href="/inventario_comat" role="button">DESCARGAR</a>
                </div>
                <div class="col-4">
                    <h5>Inventario Incoming</h5>
                    <a name="" id="" style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn" href="/inventario_incoming" role="button">DESCARGAR</a>
                </div>

            </div>
        </div>
        <input style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn m-2" type="submit" value="Generar">
    </form>
    
</div>



{% endblock %}
